* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    position: sticky;
    text-align: center;
    z-index: 2;
    top: 0;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75);
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

#landing {
    margin: 0 5%;
    margin-top: 15%;
}

#hello {
    margin: 0 auto;
    margin-bottom: 5%;
}

#code {
    margin: 0 auto;
}

#resume {
    float: left;
    text-align: center;
    margin: auto;
    margin-bottom: 0%;
    border-bottom: 3px solid black;
    padding-bottom: 5%;
}

#resume a {
    text-align: center;
    display: inline-block;
    background: #db414e;
    margin-top: 2%;
    padding: 3%;
    color: white;
    border-radius: 20%/50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#begin {
    float: right;
    text-align: center;
    padding-bottom: 5%;
    border-bottom: 3px solid black;
}

#begin a {
    display: inline-block;
    text-align: center;
    background: #00b0a2;
    color: white;
    margin-top: 2%;
    padding: 3%;
    border-radius: 30%/50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.divider {
    display: none;
}

a {
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ededed;
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

#sticky {
    text-align: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
    background-color: #00b0a2;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#icon {
    margin: 20%;
}

#name {
    margin-top: 1%;
    margin-left: 1%;
}

#linkedin {
    width: 22px;
    height: 22px;
}

#intro {
    display: flex;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.intro-txt {
    flex: 50%;
    margin-left: 4%;
}

.txt-slide {
    -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#pic {
    border-radius: 50%;
    margin: 0 auto;
    margin-right: 15%;
    width: 300px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.7);
}

.pic-slide {
    -webkit-animation: 1s ease-out 0s 1 slideInFromRight;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#projects {
    margin: auto 0;
    margin-left: 4%;
    margin-right: 95%;
}

#projects a {
    display: flex;
}

#projects-btn {
    color: white;
    border-radius: 20%/50%;
    background-color: #00b0a2;
    padding: 0% 200%;
    height: 5em;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects span {
    /* font-size: 5em; */
    padding: 10px 20px;
}

#arrow {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}

#projects-btn p {
    font-size: 1.5em;
    font-weight: 400;
}

.project {
    margin: 5% 5%;
    margin-bottom: 0;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.project-slide {
    -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.hidden {
    visibility: hidden;
}

.text {
    flex-basis: 40%;
    margin: auto;
}

.desc {
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
}

.desc iframe {
    flex-basis: 50%;
    margin: 0.5% auto;
    margin-right: 2%;
}

.project-link {
    font-size: 1.3em;
    color: white;
    margin-top: 10%;
    margin: 10% auto;
    background-color: #db414e;
    display: inline-block;
    padding: 3%;
    border-radius: 20%/50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 7%;
    margin-top: 15%;
}

.contact-slide {
    -webkit-animation: 1s ease-out 0s 1 slideInFromRight;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.contact-text {
    flex-basis: 75%;
}

.contact-me {
    flex-basis: 10%;
    color: white;
    background-color: #00b0a2;
    border-radius: 20%/50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.1em;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ending {
    margin: auto;
    margin-bottom: 10%;
}

.popup {
    -webkit-animation-name: pop;
    animation-name: pop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.hover:hover {
    animation-name: float;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.hover:not(hover) {
    animation-name: float-down;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

@keyframes float {
    25% {
        transform: translateY(-2.5px);
    }

    50% {
        transform: translateY(-2.5px);
    }

    75% {
        transform: translateY(-2.5px);
    }

    100% {
        transform: translateY(-2.5px);
    }
}

@keyframes float-down {
    25% {
        transform: translateY(2.5px);
    }

    50% {
        transform: translateY(2.5px);
    }

    75% {
        transform: translateY(2.5px);
    }

    100% {
        transform: translateY(2.5px);
    }
}

@keyframes pop {
    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@media (max-width: 600px) {
    * {
        margin: inherit 50%;
    }

    #landing {
        margin: 10% 5%;
        margin-top: 15%;
    }

    #resume {
        margin-bottom: 15%;
    }

    div {
        text-align: center;
        margin: auto;
        display: block;
    }
    #projects {
        margin: auto;
        display: flex;
        display: none;
    }
    #projects-btn {
        padding: 0 10%;
        height: 5em;
    }

    #name {
        margin: auto;
        margin-top: 2%;
    }

    #linkedin {
        margin: auto 5%;
        width: 40px;
        height: 40px;
    }

    #github {
        margin: auto 5%;
        width: 40px;
        height: 40px;
    }

    #intro {
        flex-wrap: wrap;
    }

    .intro-txt {
        text-align: center;
        margin: inherit auto;
    }

    #pic {
        margin: 25% auto;
        width: 200px;
        height: 200px;
    }

    .desc {
        margin: 5% 0;
    }

    .desc iframe {
        margin-right: auto;
    }

    iframe {
        margin: auto;
        margin-top: 5%;
        height: 200px;
        width: 250px;
    }

    .text {
        flex-basis: 65%;
    }

    .project-link {
        margin: 15%;
        padding: 17px;
        display: block;
        font-size: auto;
    }

    .subtext {
        display: none;
    }

    .contact-me {
        margin: 5% auto;
        padding: 15px;
        flex-basis: 40%;
    }
}

@media (max-width: 767px) and (min-width: 600px) {
    .project-link {
        margin: 0 auto;
        margin-top: 15%;
        padding: 20px;
        font-size: auto;
    }

    #resume {
        float: none;
        margin: auto;
        margin-bottom: 15%;
    }

    #begin {
        float: none;
    }

    iframe {
        margin: auto;
        margin-top: 5%;
        height: 200px;
        width: 250px;
    }

    #pic {
        margin: auto;
        margin-right: 5%;
        width: 200px;
        height: 200px;
    }

    .contact-me {
        margin: 5% 0;
        padding: 20px;
        flex-basis: auto;
    }
}
